.gendiv{
        background-color:rgb(24, 22, 22); 
        height: 800px;
        display: flex;
        align-items: center;
        border: 1px solid red;
        color: white;

}

.about{
    margin-top: 70%;
    display:flex;
    justify-content: space-between;
    width: 65%;
    height: 500px;
    margin: auto;
    border: 1px solid rgb(37, 221, 129);
}

.wizpic{
    margin-left: 8%;
      width: 150px;
      height: 150px;
      border-radius: 200px;
      border: 10px solid rgb(182, 180, 180);

}

.abouttext{
    width: 60%;
}

.divdres{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
     