.about{

    display:flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.wizpic{
      width: 200px;
      height: 200px;
      border-radius: 200px;

}

.abouttext{
    width: 50%;
}