.genc{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 150px 0px;

}

.divsec3{
    /* border: 1px solid rgb(32, 35, 231); */
    width: 60%;
    height: auto;
}         

.c1{
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid red; */

}

.c2{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

}

.c3{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.ci {
      width: 60%;
      height: 300px
}

.cii {
    width: 60%;
    height: 300px
}
.ciii{
    width: 60%;

}

progress{
width: 80%;
height: 50px;
background: rgb(37, 36, 37);
}


