.genc{
    display: flex;
    justify-content: center;

}

.divsec3{
    border: 1px solid rgb(32, 35, 231);
    width: 60%;
}         

.c1{
    display: flex;
    justify-content: space-between;
    
    border: 1px solid red;

}

.c2{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;

}

.c3{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.ci .cii .ciii{
      width: 60%;
      height: 700px;
}

