

.genfoot{
    background-color: black;
    color: white;
    padding: 150px;
}

.divf{
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  height: 350px;
  
}

.divfoot{
         /* border: 1px solid green; */
         width: 100%;
         margin: auto;
         display: flex;
         justify-content: space-between;
         color: white;
         font-size: 170%;

}

.foot1{
      width: 50%;
      
}

.foot2{
  width: 30%;
}

span{color: white}    

.hello{
  border: 1px solid rgb(29, 28, 28);
  border-bottom-color: aqua;

}

.letstalk{
  border: 1px solid rgb(29, 28, 28);
  border-bottom-color: aqua;
  text-align: center;
  background-color: aqua;

}