

.genfoot{
    background-color: black;
    color: white;
}

.divf{
  border: 1px solid red;
  width: 50%;
  margin: auto;
  height: 500px;
  
}

.divfoot{
         border: 1px solid green;
         width: 100%;
         margin: auto;
         display: flex;
         justify-content: space-between;
         color: white;
         font-size: 170%;

}

.foot1{
      width: 50%;
      
}

.foot1{
  width: 40%;
}

span{color: white}     