

.genfoot{
    background-color: black;
    color: white;
    height: 500px;
}

.divf{
  border: 1px solid red;
  width: 50%;
  margin: auto;
  height: ;
}

.divfoot{
         border: 1px solid green;
         width: 100%;
         margin: auto;
         display: flex;
         color: white;
        

}