@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

li{
    display: inline; 
    color: rgb(209, 47, 47); 
    margin: 20px
   }

.div1{
 display: flex;
 justify-content: center;
 background-color: aqua;
 /* background-image: url("../Assets/images/Avengers.webp"); */
 background-size: 100%;
 border: 1px solid red;
 height: 50px;
}

.navbar{
/* border: 1px solid blue; */
}




