@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

ul{
    /* color: rgb(209, 47, 47);  */
    display: flex; 
    justify-content: space-around;
    list-style: none;
   }

   li{
    margin: 20px;
   }

.div1{
 display: flex;
 justify-content: center;
 background-image: url("../Assets/images/Avengers.webp");
 background-size: 100%;
 border: 1px solid red;

}

.navbar{
border: 1px solid blue;
max-width: 100%;
}




