li{
    display: inline; 
    color: rgb(209, 47, 47); 
    margin: 20px
   }

.div1{
text-align: center;

}


   .div2{ 
    margin: auto;
    width: 800px;
    height: 700px;
    text-align: center;
}