.gentest{
    background-color: rgb(39, 39, 80);
    border: 1px solid red;
    color: white;
    padding-top: 10%;
   
}

.gen1{
 
    height: 550px;

}

.hdiv{
    text-align: center;
}


.divtest{   
    width: 60%;
    margin: auto;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.imgp{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}

.test1{
    width: 400px;
}