.gentest{
    background-color: rgb(39, 39, 80);
    height: 550px;
}


.divtest{
    display: flex;
    width: 60%;
    margin: auto;
    height: 550px;
}

.imgp{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}