.workdiv{
       /* border: 1px solid red; */
       background-color: blue;
       height: 500px;

}

.work{
    
        width: fit-content;
        margin: auto;
        text-align: center;
        border: 1px solid pink;
}

.imgd{ 
    width: 300px; 
    height: 250px;
    }