.genwork{
         background-color: bisque;

}


.divwork{
     width: fit-content;
     margin: auto;
     text-align: center;
}

.imgd{ 
    width: 300px; 
    height: 300px;
}

.divcontact{
            width: 700px;
            margin: auto;
            font-size: 150%;

}

button{
    width: 300px;
    height: 70px;
    background-color: rgb(196, 22, 219);
    color: aliceblue;
    border-radius: 7px;
    padding: 5px;
    font-size: 100%;
    border: none;
    

}